@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "base/variables-breakpoints.module" as *;

.lets-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40px);
  @include breakpoint($smallTabletLandscapeName) {
    gap: rem(80px);
    flex-direction: row;
    justify-content: space-between;
  }

  &__header {
    max-width: rem(500px);
  }

  &__heading {
    text-align: center;
    font-size: rem(80px);
    margin-bottom: rem(10px);
    margin-top: 0;
    font-weight: 700;

    @include breakpoint($largeHandsetLandscapeName) {
      font-size: rem(100px);
    }

    @include breakpoint($smallTabletLandscapeName) {
      font-size: rem(110px);
      text-align: right;
    }
  }
  &__panel {
    width: 100%;
    @include breakpoint($smallHandsetLandscapeName) {
      width: auto;
    }

    // TODO - this is a hack - intead override the list styles by importing the name as a module
    .typography--heading5 {
      font-size: rem(12px);
    }

    // TODO - this is a hack - intead override the list styles by importing the name as a module
    @include breakpoint($smallHandsetLandscapeName) {
      .typography--heading5 {
      font-size: rem(18px);
    }
    }
  }

  &__sub-heading {
    text-align: center;
    @include breakpoint($smallTabletLandscapeName) {
      text-align: right;
    }
  }
}
