@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;
@use "base/variables-breakpoints.module" as *;
@use "helpers/breakpoints" as *;

%baseFont {
  font-family: $baseFont;
  font-weight: $fontWeightRegular;
}

%headingFont {
  font-family: $headingFont;
  font-weight: $fontWeightRegular;
  line-height: 1em;
}

%listStyleNone {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@mixin linkColor {
  color: $linkColor;
  &:hover {
    color: $linkHover;
  }
}

@mixin linkColorLight {
  color: $linkColorLight;
  &:hover {
    color: $linkHoverLight;
  }
}

@mixin linkColorDark {
  color: $linkColorDark;
  &:hover {
    color: $linkHoverDark;
  }
}

@mixin navigationLinkColor {
  color: $textDarkGrey;
  &:hover {
    color: $textSecondary;
  }
}

@mixin h1FontSizes() {
  font-size: $h1MobileFontSize;
  @include breakpoint($breakPointTablet) {
    font-size: $h1FontSize;
  }
}

@mixin h2FontSizes() {
  font-size: $h2MobileFontSize;
  @include breakpoint($breakPointTablet) {
    font-size: $h2FontSize;
  }
}

@mixin h3FontSizes() {
  font-size: $h3MobileFontSize;
  @include breakpoint($breakPointTablet) {
    font-size: $h3FontSize;
  }
}
