%baseFont {
    font-family: $baseFont;
    font-weight: $fontWeightRegular;
  }
  
  %headingFont {
    font-family: $headingFont;
    font-weight: $fontWeightRegular;
    line-height: 1.2;
  }
  
  %listStyleNone {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  
  @mixin linkColor {
    color: $linkColor;
    &:hover {
      color: $linkColorHover;
    }
  }
  
  @mixin light-link-color {
    color: $lightLinkColor;
    &:hover {
      color: $lightLinkHover;
    }
  }
    
  @mixin darkLinkColor {
    color: $darkLinkColor;
    &:hover {
        color: $darkLinkHover;
    }
  }
  
  @mixin navigationLinkColor {
      color: $textDarkGrey;
      &:hover {
          color: $textSecondary;
      }
    }
    
  @mixin h1FontSizes() {
    font-size: $h1MobileFontSize;
    @include breakpoint($breakpointTablet) {
      font-size: $h1FontSize;
    }
  }
    
  @mixin h2FontSizes() {
    font-size: $h2MobileFontSize;
    @include breakpoint($breakpointTablet) {
      font-size: $h2FontSize;
    }
  }
    
  @mixin h3FontSizes() {
    font-size: $h3MobileFontSize;
    @include breakpoint($breakpointTablet) {
      font-size: $h3FontSize;
    }
  }