@use "base/varaibles-utilities" as *;
@use "base/variables-colors.module" as *;
@use "base/variables-colors.module" as *;
@use "helpers/typography" as *;
@use "helpers/mixin" as *;

@use '@components/common/Button/Button.module.scss' as button;


.#{button.$button} {
  @include linkColorLight();
  transition:
    background,
    $animationTime ease;
  background-color: $backgroundBlack;
  padding: rem(10px) rem(15px);
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $backgroundGrey;
  }

  &[aria-pressed='true'] {
    background-color: $backgroundGrey;
  }
}
