@use "helpers/typography" as *;
.dropdown-navigation {
  overflow: hidden;
  height: 0;

  &.is-open {
    height: auto;
  }

  &__menu-items {
    @extend %listStyleNone;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
