@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

.dropdown-navigation {

    &__menu-items {
        @extend %listStyleNone;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        
        &.is-open {
            height: auto;
        }
    }
}