@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "base/variables-breakpoints.module" as *;

.homepage {
  // TODO: create a padding component - specifically to handle very custom padding
  .container {
    padding-top: rem(140px);
    padding-bottom: rem(140px);

    &:first-of-type {
      padding-top: rem(100px);
      @include breakpoint($smallTabletLandscapeName) {
        padding-top: rem(140px);
      }
    }

    &:last-of-type {
      padding-bottom: rem(100px);
      @include breakpoint($smallTabletLandscapeName) {
        padding-bottom: rem(140px);
      }
    }
  }
}
