@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;
@use "helpers/mixin" as *;

.tag {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: $h6FontSize;
  padding: rem(6px) rem(10px);
  font-weight: 700;
  display: inline-block;
  list-style: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &--light {
    background-color: $backgroundSubtleWhite;
    color: $textBlack;
  }

  &--dark {
    background-color: $backgroundDarkGrey;
    color: $textWhite;
  }
}
