@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

$projectCard: project-card;

.#{$projectCard} {
  padding: rem(100px) 0;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__details {
    width: 50%;
    text-align: right;
  }

  &__thumbnail {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    border: solid 25px $white;
    border-radius: 10px;
    box-shadow: 0 5px 32px 0 rgba(31, 38, 135, 0.15);
  }

  &__title {
    font-size: $h1FontSize;
    font-family: $styledFont;
    font-weight: 700;
    margin: rem(20px) 0;
    text-align: right;
  }

  &__description {
    font-size: $h4FontSize;
  }

  &__spec {
    text-transform: uppercase;
    font-size: $h6FontSize;
    font-weight: 700;
    color: $textDarkGrey;
  }

  &__technologies {
    padding: rem(20px) 0;
  }

  &--reverse {
    .#{$projectCard} {
      &__wrapper {
        flex-direction: row-reverse;
      }
      &__title,
      &__details {
        text-align: left;
      }
      &__thumbnail {
        justify-content: flex-start;
      }
    }
  }

  &--dark {
    .#{$projectCard} {
      &__title {
        color: $textWhite;
      }
      &__description {
        color: $textLightGrey;
      }

      &__spec {
        color: $textSubtleWhite;
      }
    }
  }
}
