@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';
@import '@components/common/Tags/Tags.module.scss';

$projectCard: project-card;

.#{$projectCard} {
  padding: rem(125px) 0;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: rem(20px); // TODO review: only works in modern browsers

    @include breakpoint($smallTabletLandscapeName) {
      flex-direction: row;
    }
  }

  &__details {
    max-width: 50vw;
    text-align: center;
    @include breakpoint($smallTabletLandscapeName) {
      text-align: right;
      width: 50%;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @include breakpoint($smallTabletLandscapeName) {
      flex-direction: row;
      width: 50%;
    }
  }

  &__thumbnail {
    display: inline-flex;
  }

  &__image {
    border: solid 25px $white;
    border-radius: 10px;
    @extend %defaultAnimation;
    @include boxShadowHover($backgroundGrey);
  }

  &__title {
    font-size: $h1FontSize;
    font-family: $styledFont;
    font-weight: 700;
    margin: rem(20px) 0;
    text-align: center;
    @include breakpoint($smallTabletLandscapeName) {
      text-align: right;
    }
  }

  &__summary {
    font-size: $h4FontSize;
  }

  &__spec {
    text-transform: uppercase;
    font-size: $h6FontSize;
    font-weight: 700;
    color: $textDarkGrey;
  }

  &__technologies {
    padding: rem(20px) 0;
  }

  .#{$tagsClassName} {
    justify-content: center;
    @include breakpoint($smallTabletLandscapeName) {
      justify-content: flex-end;
    }
  }

  /**
*
* Modifiers
* 
* - modifiers must be at the end so that sub classes within the modifer classes take priority
* - for example, if the base tagsClassName styles was defined after the modifers, these styles 
* - would override the styles set in the modifers., 
*/

  &--reverse {
    .#{$projectCard} {
      &__wrapper {
        flex-direction: column-reverse;
        @include breakpoint($smallTabletLandscapeName) {
          flex-direction: row-reverse;
        }
      }
      &__title,
      &__details {
        @include breakpoint($smallTabletLandscapeName) {
          text-align: left;
        }
      }
      &__feature {
        justify-content: flex-start;
      }
    }
    .#{$tagsClassName} {
      @include breakpoint($smallTabletLandscapeName) {
        justify-content: flex-start;
      }
    }
  }

  &--dark {
    .#{$projectCard} {
      &__title {
        color: $textWhite;
      }
      &__summary {
        color: $textLightGrey;
      }

      &__spec {
        color: $textSubtleWhite;
      }

      &__image {
        @include boxShadowHover($backgroundSubtleWhite);
      }
    }
  }
}
