@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';
@import '@components/common/SectionWithSeperator/SectionWithSeperator.module.scss';

.#{$sectionWithSeperator} {
  position: relative;

  &__seperator {
    position: absolute;
    bottom: 0;
  }
}
