@use '@components/common/SectionWithSeperator/SectionWithSeperator.module.scss' as sectionWithSeperator;

.#{sectionWithSeperator.$sectionWithSeperator} {
  position: relative;

  &__seperator {
    position: absolute;
    bottom: 0;
  }
}
