/*
	Utilities
*/
$maxMidth: 1180px;
$animationTime: 0.3s;

/*
    Breakpoints
*/
$breakpointDesktop: 'large-tablet-landscape';
$breakpoinTablet: 'large-tablet';
$breakpointHandsetLandscape: 'large-handset-landscape';
$breakpointNavigation: $breakpointHandsetLandscape;