// @import 'hamburgers';
@use 'HamburgerSettings' as *; // overrides the hamburgers settings included in the parent theme
@use 'hamburgers/_sass/hamburgers/hamburgers.scss' as *;

.hamburger {
  padding-bottom: 4px;

  // @include breakpoint($breakPointTablet) {
  //     display: none;
  // }
}
