@use "base/variables-colors.module" as *;

.brush-stroke {
  clip-path: url(#brush-stroke-clip-path);
  background: $backgroundSubtleWhite;
  display: block;
  width: 100%;
  height: 100px;
}

.brush-stroke-svg {
  position: absolute;
  pointer-events: none;
}
