@use "base/variables-typography" as *;
@use "helpers/typography" as *;


.typography {
  &--heading1 {
    @include h1FontSizes();
  }

  &--heading2 {
    @include h2FontSizes();
  }

  &--heading3 {
    @include h3FontSizes();
  }

  &--heading4 {
    font-size: $h4FontSize;
  }

  &--heading5 {
    font-size: $h5FontSize;
  }

  &--heading6 {
    font-size: $h6FontSize;
  }
}
