@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "base/variables-breakpoints.module" as *;
@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(60px);
  max-width: 90vw;

  @include breakpoint($smallTabletLandscapeName) {
    gap: rem(100px);
    flex-direction: row;
    justify-content: center;
  }

  &__content {
    width: 100%;
    text-align: center;
    @include breakpoint($mediumHandsetLandscapeName) {
      width: 80%;
    }

    @include breakpoint($smallTabletLandscapeName) {
      text-align: left;
      width: 50%;
    }

    * {
      color: $textWhite;
      font-size: $h4FontSize;
      line-height: 1.3em;
    }
  }

  &__heading {
    color: $textWhite;
    margin: 0;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    font-size: rem(110px);

    @include breakpoint($smallTabletLandscapeName) {
      text-align: right;
      font-size: rem(120px);
      width: 50%;
    }
  }
}
