@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "base/variables-breakpoints.module" as *;

.contact-page {
  // TODO: create a padding component - specifically to handle very custom padding
  .container {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
    @include breakpoint($smallTabletLandscapeName) {
      padding-top: rem(150px);
      padding-bottom: rem(150px);
    }
  }
}
