@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

.header {
    width: 100%;
    border-bottom: 1px solid $borderLightGrey;

    &__container {
        @extend %container;
    }

    &__section {
        @extend %section;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__branding {
        font-family: $styledFont;
        font-weight: $fontWeightBold;
        font-size: $h3FontSize;
    }

}
