@use "base/varaibles-utilities" as *;
@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;
@use "base/variables-breakpoints.module" as *;
@use "helpers/breakpoints" as *;
@use "helpers/placeholders" as *;
@use "helpers/mixin" as *;
@use "helpers/typography" as *;

.menu-item {
  $this: &;

  transition: background-color $animationTime ease-in-out;
  background-color: transparent;

  &--dropdown {
    background-color: $backgroundDarkGrey;

    &:hover {
      background-color: $backgroundGrey;
    }

    #{$this}__link {
      @extend %container;
      padding-top: rem(15px);
      padding-bottom: rem(15px);
      width: 100%;
      @include linkColorLight();
    }
  }

  &__link {
    padding-right: rem(25px);
    max-width: 100%;
    width: 100%;
    display: block;
    font-size: h6FontSize;
    font-family: $styledFont;

    @include breakpoint($breakPointNavigationName) {
      @include navigationLinkColor();
    }
  }

  &--light {
    #{$this}__link {
      width: 100%;
      @include linkColorLight();
    }
  }
}
