@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

.site-logo {
  color: $textPrimary;
  font-family: $styledFont;
  font-weight: $fontWeightBold;
  font-size: $h2FontSize;
  letter-spacing: rem(-3px);

  @include breakpoint($largeHandsetLandscapeName) {
    letter-spacing: rem(-2px);
  }

  &--light {
    color: $textSubtleWhite;
  }
}
