@use "base/variables-breakpoints.module" as *;
@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;
@use "helpers/typography" as *;
@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "helpers/typography" as *;

.site-logo {
  color: $textPrimary;
  font-family: $styledFont;
  font-weight: $fontWeightBold;
  font-size: $h2FontSize;
  letter-spacing: rem(-3px);

  @include breakpoint($largeHandsetLandscapeName) {
    letter-spacing: rem(-2px);
  }

  &--light {
    color: $textSubtleWhite;
  }
}
