@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;
@use "base/variables-breakpoints.module" as *;
@use "helpers/breakpoints" as *;
@use "helpers/mixin" as *;

.site-title {
  color: $textPrimary;
  font-family: $styledFont;
  font-weight: $fontWeightBold;
  font-size: rem(35px);
  letter-spacing: rem(-3px);

  @include breakpoint($largeHandsetName) {
    letter-spacing: rem(-2px);
  }

  &--light {
    color: $textSubtleWhite;
  }
}
