@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

.site-title {
  color: $textPrimary;
  font-family: $styledFont;
  font-weight: $fontWeightBold;
  font-size: rem(35px);
  letter-spacing: rem(-3px);

  @include breakpoint($largeHandsetName) {
    letter-spacing: rem(-2px);
  }

  &--light {
    color: $textSubtleWhite;
  }
}
