@use "helpers/mixin" as *;
@use "helpers/typography" as *;

@use '@components/common/Tags/Tags.module.scss' as tags;

.#{tags.$tagsClassName} {
  display: inline-flex;
  flex-wrap: wrap;
  gap: rem(10px); // TODO review: only works in modern browsers
  @extend %listStyleNone;

  &--align-left {
    justify-content: flex-start;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--align-center {
    justify-content: center;
  }
}
