@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

.tags {
  display: inline-flex;
  flex-wrap: wrap;
  @extend %listStyleNone;

  &--align-left {
    justify-content: flex-start;
  }

  &--align-right {
    justify-content: flex-end;
  }

  &--align-center {
    justify-content: center;
  }
}
