@import '@styles/base/_base.scss';
@import '@styles/helpers/_helpers.scss';

.project-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
  }

  &__repository-list {
    margin: 0;
  }

  // &__repositories {
  // }
  // &__repository-list-item {
  // }
  // &__repository-link {
  // }
}
