@use "base/variables-breakpoints.module" as *;
@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;

.project-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
  }

  &__repository-list {
    margin: 0;
  }

  // &__repositories {
  // }
  // &__repository-list-item {
  // }
  // &__repository-link {
  // }
}
