@use "base/variables-colors.module" as *;
@use "base/variables-breakpoints.module" as *;
@use "helpers/breakpoints" as *;
@use "helpers/mixin" as *;

.site-branding {
  &__mobile {
    display: block;
    @include breakpoint($largeHandsetName) {
      display: none;
    }
  }

  &__desktop {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint($largeHandsetName) {
      display: flex;
    }
  }

  .site-title {
    margin-bottom: rem(7px);
  }
}
