@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "base/variables-breakpoints.module" as *;

.intro-card {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: rem(40px);

    @include breakpoint($largeHandsetLandscapeName) {
      gap: rem(50px);
      align-items: center;
      flex-direction: row;
    }

    @include breakpoint($largeTabletName) {
      width: 80%;
      gap: rem(60px)
    }

    @include breakpoint($smallTabletLandscapeName) {
      width: 100%; 
      gap: rem(100px);
    }
  }

  &__image {
    display: flex;
    width: 100%;

    @include breakpoint($largeHandsetName) {
      justify-content: center;
    }

    @include breakpoint($largeHandsetLandscapeName) {
      justify-content: flex-end;
    }
  }

  &__heading {
    width: 350px;
    font-size: rem(100px);
    margin: 0;
    line-height: 0.9em;
    font-weight: bold;
    text-align: left;

    @include breakpoint($largeHandsetName) {
      font-size: rem(130px);
    }
    @include breakpoint($largeHandsetLandscapeName) {
      font-size: rem(120px);
    }

    @include breakpoint($largeTabletName) {
      font-size: rem(130px);
      text-align: left;
      width: 50%;
    }

    @include breakpoint($smallTabletLandscapeName) {
      font-size: rem(155px);
    }

    &:first-letter {
      font-size: rem(170px);

      @include breakpoint($largeTabletName) {
        font-size: rem(150px);
      }

       @include breakpoint($smallTabletLandscapeName) {
        font-size: rem(200px);
      }
    }
  }
}
