@use "helpers/mixin" as *;
@use "helpers/breakpoints" as *;
@use "base/variables-breakpoints.module" as *;

.intro-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: rem(40px);
  @include breakpoint($largeHandsetLandscapeName) {
    gap: rem(50px);
    align-items: center;
    flex-direction: row;
  }

  @include breakpoint($largeTabletName) {
    gap: rem(60px);
  }
  @include breakpoint($smallTabletLandscapeName) {
    gap: rem(100px);
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint($largeHandsetLandscapeName) {
      justify-content: flex-end;
      width: 50%;
    }

    @include breakpoint($largeTabletName) {
      width: 50%;
    }
  }

  &__heading {
    width: 350px;
    font-size: 110px;
    margin: 0;
    line-height: 0.9em;
    font-weight: bold;
    text-align: left;

    @include breakpoint($largeTabletName) {
      font-size: 140px;
      text-align: left;
      width: 50%;
    }

    @include breakpoint($smallTabletLandscapeName) {
      font-size: 160px;
    }

    &:first-letter {
      font-size: 140px;
      @include breakpoint($largeTabletName) {
        font-size: 190px;
      }
    }
  }
}
