@use "base/variables-colors.module" as *;
@use "base/variables-typography" as *;
@use "helpers/mixin" as *;

.site-tagline {
  font-weight: $fontWeightRegular;
  font-size: $h4FontSize;
  letter-spacing: rem(3.5px);
  color: $textLightGrey;
}
