/*
    Font Sizes
*/
$baseFontSize: 16px;

$h1FontSize: 38px;
$h2FontSize: 35px;
$h3FontSize: 24px;
$h4FontSize: 20px;
$h5FontSize: 18px;
$h6FontSize: 14px;

$h1MobileFontSize: 35px;
$h2MobileFontSize: 24px;
$h3MobileFontSize: 22px;

$fontSizeSmall: 11px;
$fontSizeLarge: 60px;

/*
    Font Families
*/
$baseFont: Verdana, Geneva, sans-serif;
$headingFont: 'Lato', sans-serif;
$styledFont: 'Lato', sans-serif;

/*
    Font Weights
*/
$fontWeightRegular: 400;
$fontWeightBold: 700;