/*
	Utilities
*/
$maxWidth: 1180px;
$animationTime: 0.3s;

/*
    Breakpoints
*/
$breakPointDesktop: 'large-tablet-landscape';
$breakPointTablet: 'large-tablet';
$breakPointHandsetLandscape: 'large-handset-landscape';
$breakPointNavigation: $breakPointHandsetLandscape;